<meta charset="UTF=8">
<title>Buyable</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<script src="{{ url_for('static', filename='js/jquery-3.7.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>