<div class="header-logo">
	<h1><a href="/">🛒Buyable</a></h1>
</div>
<div class="nav-block">
	<div class="header-nav">
		<ul>
			{% if user.logged_on %}
				<li><a href="/user/logout">Logout ({{ user.user_name }})</a></li>
				<li><a href="/mycart">Shopping Cart{% if user.cart>0 %} ({{ user.cart  }} Item{% if user.cart>1 %}s{% endif %}){% endif %}</a></li>
				<li><a href="/sellers">Seller's Zone</a></li>
			{% else %}
				<li><a href="/user/login">Login</a></li>
			{% endif %}
		</ul>
	</div>
	<div class="header-search">
		<form action="/" method="get">
			 <input class="search-box" type="search" id="search_item" name="f" placeholder="Search 🔍" value="{{ search }}">
		</form>
	</div>
</div>